:root{
    --bg-color: #fff;
    --text-color: #000;
    --light-text-color: #5F5F5F;
    --grey-color: #F8F8F8;
    --dark-grey-color: #A4A4A4;
    --light-text: #7D7D7D;
    --accent-color: #FFD764;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-VariableFont_wdth\,wght.woff2") format("woff2"),
       url("../fonts/Roboto-VariableFont_wdth\,wght.woff") format("woff"),
       url("../fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: normal;
}
/* Reset ================= */
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
a, a:focus, a:active{
    text-decoration: none;
    color: inherit;
    outline: none;
}

ul{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ======================= */




body{
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: clamp(1rem, calc(0.95rem + 0.23vw), 1.13rem);
}
h1{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

h2{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
h3{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.wrapper{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.container{
    max-width: 1228px;
    padding: 0 10px;
    margin: 0 auto;
}
.container-fluid{
    max-width: 1865px;
    padding: 0 clamp(0.63rem, calc(0.22rem + 2vw), 2.63rem);
    margin: 0 auto;
}
.center{
    text-align: center;
}
@media (max-width: 1200px){
    .wrapper{
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
}
}
/* ========== */
.nav-list{
    ul{
        display: flex;
        li{
            margin-right: 8px;
            margin-left: 8px;
            padding: 4px 8px;
            border-radius: 5px;
            position: relative;
            background-color: transparent;
            transition: all 0.3s;
        }
        li::after{
            content: "|";
            position: absolute;
            right: -10px;
            top: 50%;
            transform: translateY(-51%);
            scale: 1.1;
        }
        li:first-child{
            margin-left: 0;
        }
        li:last-child{
            margin-right: 0;
        }
        li:last-child::after{
            content: "";
        }
        li:hover{
            background-color: var(--grey-color);
        }
        li:has(a:focus){
            background-color: var(--grey-color) !important;
        }
    }
}
.box-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 0;
    margin-top: 35px;
}

.box-item{
    display: inline-block;
    padding: 13px;
    background-color: var(--grey-color);
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    width: calc(100% / 3 - 20px);
    margin-bottom: clamp(1rem, calc(0.46rem + 2.7vw), 2.5rem);
}
.box-item__tabs{
    padding-top: 11px;
    border-top: 1px solid #E2E2E2;
    margin-top: 10px;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            position: relative;
            margin-left: 16px;
            padding: 4px 8px;
            border-radius: 5px;
            background-color: transparent;
            transition: all 0.3s;
        }
        li:hover{
            background-color: #E2E2E2;
        }
        li::after{
            position: absolute;
            content: "|";
            top: 50%;
            right: -10px;
            transform: translateY(-50%);
        }
        li:last-child::after{
            content: "";
        }
        li:first-child{
            margin-left: 0;
        }
    }
}
.box-item__title{
    text-transform: uppercase;
    font-size: clamp(1.5rem, calc(1.41rem + 0.45vw), 1.75rem);
    font-weight: 600;
}
.box-item__tabs ul li {
    font-size: clamp(0.88rem, calc(0.78rem + 0.45vw), 1.12rem);
}
.search-form{
    form{
        position: relative;
        margin: 0 auto;
        .hero-home__search--icon{
            position: absolute;
            left: 7px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    input{
        padding: 5px 24px 5px 33px;
        outline: none;
        border: 1px solid var(--dark-grey-color);
        border-radius: 20px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
        width: 100%;
        min-width: 329px;
        font-size: 20px;

    }
    input::placeholder{
        font-size: 20px;
        color: var(--light-text);
    }
}
@media (max-width: 1200px){
    .box-item {
        width: calc(100% / 2 - 20px);
    }
}
@media (max-width: 746px){
    .box-item {
        width: 100%;
    }
}
/* ==================== */
/* ======= MODALS ========= */
.home-modal{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    padding: 10px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;

    .home-modal__content{
        padding: 18px;
        background-color: var(--bg-color);
        border-radius: 20px;
        .home-modal__content--title{
            font-size: 20px;
            font-weight: 500;
        }
        .home-modal__inner{
            padding-top: 14px;
            margin-top: 15px;
            border-top: 1px solid #E2E2E2;
            display: flex;
            justify-content: space-between;
            .home-modal__inner--item{
                margin-right: 64px;
                padding-left: 24px;
                border-left: 1px solid #E2E2E2;
                width: 30%;
            }
            .home-modal__inner--item:first-child{
                padding-left: 0;
                border-left: none;
            }
        }
        .home-modal__inner--title{
            font-size: 28px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .home-modal__close{
        color: var(--grey-color);
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 5px;
        cursor: pointer;
    }
}

.home-modal.open{
    display: flex;
}
@media (max-width:867px) {
     .home-modal {
        .home-modal__content {
            .home-modal__inner {
                display: block;
                .home-modal__inner--item{
                    width: 100%;
                    padding-left: 0;
                    margin-right: 0;
                    border-left: none;
                    text-align: left;
                    margin-top: 14px;
                    padding-bottom: 14px;
                    border-bottom: 1px solid #E2E2E2;
                    margin-bottom: 24px;
                }
            }
        }
    }
}
/* ===== END MODALS ======= */
/*  ========= HEADER ========= */
.header{
    padding: 28px 0;
}
.header__wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-transform: uppercase;
    nav ul{
        display: flex;
        justify-content: center;
    }
    .header__links ul{
        justify-content: end;
    }
}
.header__mobile-menu{
    display: none;
    cursor: pointer;
}
.header__lang{
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        li{
            margin-left: 5px;
            margin-right: 5px;
            padding: 3px;
            border-radius: 5px;
        }
        li::after{
            right: -8px;
        }
        li:hover{
            background-color: var(--grey-color);
        }
    }
}
.header__logo{
    margin-right: 48px;
}
@media (max-width: 976px) {
    .header__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__nav, .header__links{
        display: none;
    }
    .header__mobile-menu{
        display: block;
    }
}
/* =======END HEADER ============ */
/* ========== PAGES =========== */
.wrapper:has(.page) .header{
    padding-bottom: 20px;
}
.page{
    h1{
        text-align: center;
        margin-top: 32px;
        margin-bottom: 26px;
    }
    .home-link{
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }
    .page__wrapper{
        position: relative;
        width: 100%;
    }
    .page__item{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .page__item--tab{
        width: 218px;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1.5;
        color: var(--light-text-color);
        text-align: right;
        padding: 5px 29px 5px 5px;
        overflow: hidden;
        box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: all 0.3s;
        user-select: none;
        position: relative;
    }
    .page__item:first-child .page__item--tab{
        border-top-left-radius: 20px;
    }
    .page__item:last-child .page__item--tab{
        border-bottom-left-radius: 20px;
        
    }
    .page__item--tab:hover{
        background-color: var(--grey-color);
    }
    .page__item.active .page__item--tab{
        background-color: var(--grey-color);
        z-index: 2;
        position: relative;
    }

    .page__item--tab::after{
        content: url('data:image/svg+xml,<svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_8342_52)"><path d="M17.5 11.0637C18.1667 11.4486 18.1667 12.4108 17.5 12.7957L5.5 19.7239C4.83333 20.1088 4 19.6277 4 18.8579L4 5.00149C4 4.23169 4.83333 3.75057 5.5 4.13547L17.5 11.0637Z" fill="white"/></g><defs><filter id="filter0_d_8342_52" x="0" y="0" width="22" height="23.8594" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset/><feGaussianBlur stdDeviation="2"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8342_52"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8342_52" result="shape"/></filter></defs></svg>');
        position: absolute;
        height: 24px;
        right: 4px;
        top: 50%;
        transform: translateY(-50%);
    }
    .page__item.active .page__item--tab::after{
        content: url('data:image/svg+xml,<svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_8342_52)"><path d="M17.5 11.0637C18.1667 11.4486 18.1667 12.4108 17.5 12.7957L5.5 19.7239C4.83333 20.1088 4 19.6277 4 18.8579L4 5.00149C4 4.23169 4.83333 3.75057 5.5 4.13547L17.5 11.0637Z" fill="%23B5B5B5"/></g><defs><filter id="filter0_d_8342_52" x="0" y="0" width="22" height="23.8594" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset/><feGaussianBlur stdDeviation="2"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8342_52"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8342_52" result="shape"/></filter></defs></svg>');
    }
    .page__item--content{
        position: absolute;
        width: calc(100% - 218px);
        top: 0;
        left: 218px;
        min-height: 420px;
        border-radius: 20px;
        border-top-left-radius: 0;
        background-color: var(--grey-color);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        color: var(--light-text-color);
        padding: 24px clamp(1rem, calc(0.66rem + 1.71vw), 1.88rem);
        display: none;
        color: #424242;
        
    }
    .page__item.active .page__item--content{
        display: block;
    }
}
.item-content__title{
    text-align: center;
}
@media (max-width:746px) {
    .page__item {
        flex-direction: column;
        margin-bottom: 16px;
    }
    .page__item .page__item--tab {
        width: 100%;
        text-align: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: all 0s;
    }
    .page__item .page__item--tab:hover{
        background-color: #EBEBEB;
    }
    .page__item .page__item--tab::after{
        right: 10px;
    }
    .page__item.active .page__item--tab{
        background-color: #EBEBEB !important;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    }
    .page__item .page__item--tab::after{
        transform: rotate(90deg) translateX(-50%);

    }
    .page__item.active .page__item--tab::after{
        transform: rotate(270deg) translateX(50%);
    }
    .page__item .page__item--content{
        position: relative;
        width: 100%;
        left: 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius:12px;
        border-bottom-left-radius: 12px;
    }
}
/* ========== END PAGES =========== */
/* slider */
.item-content__slider{
    overflow: hidden;
    margin-top: 20px;
    
}
.item-content__slide--img{
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 16px;
}
.item-content__slide--img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-content__slide p{
    font-size: 18px;
    padding: 4px 12px;
}
.item-content__navigation{
    position: relative;
    width: 100%;
}
.item-content__pagination{
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: fit-content !important;
    margin: auto;
    span {
        width: 10px;
        height: 10px;
        margin: 0 5px !important;
    }
    .swiper-pagination-bullet-active{
        background-color: var(--accent-color);
        cursor: default;
    }

}
.item-content__arrows{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-content__btn{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D1D1D1;
    cursor: pointer;
    position: relative;
    z-index: 99;
}
.item-content__btn.item-content__prev::after{
    content: url('data:image/svg+xml,<svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_8342_52)"><path d="M17.5 11.0637C18.1667 11.4486 18.1667 12.4108 17.5 12.7957L5.5 19.7239C4.83333 20.1088 4 19.6277 4 18.8579L4 5.00149C4 4.23169 4.83333 3.75057 5.5 4.13547L17.5 11.0637Z" fill="white"/></g><defs><filter id="filter0_d_8342_52" x="0" y="0" width="22" height="23.8594" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset/><feGaussianBlur stdDeviation="2"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8342_52"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8342_52" result="shape"/></filter></defs></svg>');
    height: 24px;
    width: 22px;
    transform: translateX(-1px) rotate(180deg);
}
.item-content__btn.item-content__next::after{
    content: url('data:image/svg+xml,<svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_8342_52)"><path d="M17.5 11.0637C18.1667 11.4486 18.1667 12.4108 17.5 12.7957L5.5 19.7239C4.83333 20.1088 4 19.6277 4 18.8579L4 5.00149C4 4.23169 4.83333 3.75057 5.5 4.13547L17.5 11.0637Z" fill="white"/></g><defs><filter id="filter0_d_8342_52" x="0" y="0" width="22" height="23.8594" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset/><feGaussianBlur stdDeviation="2"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8342_52"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8342_52" result="shape"/></filter></defs></svg>');
    height: 24px;
    width: 22px;
    transform: translateX(1px);
}
.item-content__btn.swiper-button-disabled::after{
    content: url('data:image/svg+xml,<svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_8342_52)"><path d="M17.5 11.0637C18.1667 11.4486 18.1667 12.4108 17.5 12.7957L5.5 19.7239C4.83333 20.1088 4 19.6277 4 18.8579L4 5.00149C4 4.23169 4.83333 3.75057 5.5 4.13547L17.5 11.0637Z" fill="%23B5B5B5"/></g><defs><filter id="filter0_d_8342_52" x="0" y="0" width="22" height="23.8594" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset/><feGaussianBlur stdDeviation="2"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8342_52"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8342_52" result="shape"/></filter></defs></svg>');
    cursor: default;
}
.item-content__btn.swiper-button-lock{
    display: none;
}
/* end slider */
/* block video */
.item-content__video {
    display: flex;
    gap: clamp(1.75rem, calc(1.16rem + 2.93vw), 3.25rem);
    align-items: center;
    margin-bottom: 32px;
}
.item-content__video--iframe{
    max-width: 348px;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    iframe, iframe > *{
        aspect-ratio: 16 / 12;
        width: 100%;
        height: 100%;
    }
}
.item-content__video--iframe iframe{
    display: block;
}
.item-content__video--iframe iframe, .item-content__video--iframe iframe > *{
        aspect-ratio: 16 / 12;
        width: 100%;
        height: 100%;
    }
.item-content__video--content > div:not(:last-child){
    margin-bottom: 14px;
}

/* end block video */
/*  directions block */
.item-directions-block__wrapper{
    min-height: 570px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}
.item-directions-block__img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 190px;
}
.item-directions-block__img img{
    width: 100%;
    object-fit: cover;
    display: block;
}
.item-directions-block__hex-wrapper {
    height: 220px;
    width: 190px;
    background: #DADADA;
    clip-path: polygon(
        50% 0%, 
        100% 25%, 
        100% 75%, 
        50% 100%, 
        0% 75%, 
        0% 25%
    );
    padding: 8px;
    position: absolute;
}

.item-directions-block__hex {
    width: 100%;
    height: 100%;
    background: #fff;
    clip-path: inherit;
    display: flex;
    align-items: center;
    padding: 12px;
}
.item-directions-block__hex ul{
    list-style: disc;
    padding-left: 16px;
    font-size: 16px;
    margin-top: 4px;
}
.item-directions-block__hex-wrapper:nth-child(1){
    top: 0;
    right: calc(50% + 5px);
}
.item-directions-block__hex-wrapper:nth-child(2){
    top: 0;
    left: calc(50% + 5px);
}
.item-directions-block__hex-wrapper:nth-child(3){
    top: 30.8%;
    right: calc(50% + 105px);
}
.item-directions-block__hex-wrapper:nth-child(4){
    top: 30.8%;
    left: calc(50% + 105px);
}
.item-directions-block__hex-wrapper:nth-child(5){
    bottom: 0;
    right: calc(50% + 5px);
}
.item-directions-block__hex-wrapper:nth-child(6){
    bottom: 0;
    left: calc(50% + 5px);
}
/*  end directions block */
/* ============ HOME =============== */
.hero{
    margin-top: 0;
    margin-bottom: auto;
}
.hero-home {
    text-align: center;
}
.hero-home__img{
    /* margin-top: clamp(5.13rem, calc(4.36rem + 3.83vw), 7.25rem); */
    margin-top: 11vh;
    /* margin-bottom: clamp(6rem, calc(5.46rem + 2.7vw), 7.5rem); */
    margin-bottom: 11vh;
    margin-left: auto;
    margin-right: auto;
    width: clamp(16.88rem, calc(12.06rem + 24.1vw), 30.25rem);
    img{
        width: 100%;
        object-fit: cover;
    }
}
.hero-home__search{
    form{
        width: 70%;
    }
}
@media (max-width: 746px){
    .hero-home__search form {
        width: 100%;
    }
    .item-content__video{
        flex-direction: column;
    }
    .item-content__video--iframe {
        max-width: 100%;
        width: 100%;
    }
}
/* ========= END HOME =========== */

.footer{
    margin-top: auto;
    padding: 28px 0 14px;
    font-size: 18px;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__links{
    /* font-size: 18px; */
}
@media (max-width: 1200px){
.footer__wrapper{
    flex-direction: column;
    gap: 24px;
}
}
@media (max-width: 746px){
    .footer__wrapper {
        display: none;
    }
}